{{#each jobs as |job| }}
<div class="columns is-centered mt-6">
    <div class="column is-one-third">
    <h2>
<article class="message">
  <div class="message-header">
     <p><a href="/one-job/{{job.job_title}}">{{job.job_description}}</a></p>
    <button class="add" aria-label="add"></button>
  </div>
  <div class="message-body">
    </h2>
    <p>Created by {{job.job_contact}};
      {{job.job_desription}};
      {{job.job_company}};
      {{job.job_technology}}
    </p>
</article>
  </div>
</div>
{{/each}}
    