        <h1 class="title is-1 is-centered"  id="find-jobs-titles">Find Jobs</h1>
{{#each jobs as |job| }}
<div class="columns is-centered mt-6">
    <div class="column is-one-third">
    <h2>
<article class="message">
  <div class="message-header">
    <ul><li><p>{{job.job_title}}</p></li>
     <li><h1> {{job.job_company}}</h1></li>
     </ul>
  </div>
  <div class="message-body">
   <ul><li>Experience and Skills: {{job.job_technologies}}</li>
   <li> Salary: ${{job.job_salary}}</li>
   <li>Job Description: {{job.job_description}}</li></ul>
  <li><a href="mailto:{{job.job_contact}}">Apply Here</a></li>
  </div>
</article>
  </div>
</div>
{{/each}}



