<div class="columns is-centered mt-6">
    <div class="column is-one-third">
        <h1 class="title is-1 is-centered"  id="list-job-titles">Edit Your Job</h1>
        <div class="column">
            <div class="field">
<input class="input" type="text" id= "title" name="job_title" value="{{job.job_title}}">
</div>
<div class="field">
<input class="input" type="text" id= "description" name="job_description" value="{{job.job_description}}">
</div>
<div class="field">
<input class="input" type="text" id= "company" name="job_company" value="{{job.job_company}}">
</div>
<div class="field">
<input class="input" type="text" id= "technology" name="job_technologies" value="{{job.job_technologies}}">
</div>
<div class="field">
    <input class="input" type="number" id= "salary" name="job_salary" value="{{job.job_salary}}">
</div>
<div class="field">
    <input class="input" type="date" id= "date" name="date_created" value="{{job.date_created}}">
</div>
<div class="field">
<input class="input" type="text" id= "contact" name="job_contact" value="{{job.job_contact}}">
</div>
<a class="button is-dark" id= "create-post">Update</a>
        </div>
    </div>
</div>
<script src="./js/edit-job.js"></script>
